#aboutpara{
	/*width: 50vw;*/
	width: 60vw;
	margin: 4% auto;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 23px;
	color: rgb(41, 38, 38);
	line-height: 125%;
	font-weight: lighter;
}

#welcomepara{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 19px;
	color: #5e5958;
}

.center{
	display: block;
	margin-left: 0;
	margin-right: 0;
	width: 100%;	
}

.picture{
	width: 100%;
 	height: 600px;	
}

a:hover{
	background-color: #222;	
}

.centered {
	/*position: absolute;
	font-size: 100px;
	color: #000;
	font-weight: bolder;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);*/
	
	position: absolute;
	font-family: Arial Rounded MT Bold;
	color: #000;
	font-weight: 900;
	top: 100px;
	width: 100%;
	text-align: center;
	font-size: 7vw;
}

#appBackground {
	position: relative;
	background-image: url("../img/Townsend-Harris-High-School-01.jpg");
  	background-repeat:no-repeat;
   	background-size:cover;
	margin: 0px auto 0px auto;
	/*100% 100vh*/
}

.pythonres{color: #000;position: relative;font-family: Verdana;font-size: 20px;top: 130px;text-align: center;left: 10vw;font-weight: bold; display:inline}
.javares{color: #000;position: relative;font-family: Verdana;font-size: 20px;margin-left: 46vw;top: -187px;font-weight: bold;text-align: center;display: inline}
.jsres{color: #000;position: relative;font-family: Verdana;font-size: 20px;margin-left: 75vw;top: -392px;font-weight: bold;text-align: center;display: inline}

.codingres{color:#000;position:relative;font-family:Verdana;font-size: 16px;text-align: center}

.codingres0{top: 124px; left: 10vw;}
.codingres1{top: -192px;left: 46vw;}
.codingres2{top: 0px; left: 75vwvw;}


.indeximg{width:50%;display:block;float:left}
.indexpara{width:50%;display:block;float:right;background-color:#A2AEBA;overflow:scroll/*border-style:solid; border-top-size:150px; border-top-color:#A2AEBA; border-bottom-style:solid; border-bottom-size:150px; border-bottom-color:#A2AEBA">*/}

.clearfoot{clear:both}

a:hover{background-color: #f7f0f0;color: #000}

.avatar{border-radius:50%}
#ag{position:relative; left:-20%; margin-top:90px}
#am{position:relative; left:-30vw; margin-top:90px}
#so{position:absolute; left:65vw; top: 150px}
#an{position:absolute; left:40vw; margin-top:30px}
#ni{position:absolute; left:69vw; margin-top:-300px}

.intropara{font-family: Josefin Sans,Arial,sans-serif;font-weight: 200;font-size: 13px;color: #000;position: relative;text-align: center}
#agpara{width:30%;left:15vw; top:4vh}
#ampara{width:30%;left: 59vw;top: 55.5vh;position: absolute}
#sopara{width: 25%;left: 7vw;top: 135vh;position: absolute}
#anpara{width:25%;left: -2vw;top: 32vh;}
#nipara{width:25%;left: 27vw;top: -1vh}


@media (max-width: 768px) {
	#stackthings{
		position:relative;
		top: 0px;
		left: 20%;
	}
	#stackthings2{
		position:relative;
		top: 200px;
		left: 20%;
	}
}

@media (max-width: 1195px) {
	.avatarstack{left:50%; text-align: center;}
	.agp{}
	.amav{}
	.amp{top:80vh}
	.soav{}
	.sop{}
	.anav{}
	.anp{}
	.niav{}
	.nip{}
}

.inames{color:#000; font-family: Verdana, Arial, sans-serif}
.btitles{color:#000; font-family: Verdana, Arial, sans-serif}

.agathenamesandtitle{left:-20vw}
.amandanamesandtitle{left:-20vw}
.sonianamesandtitle{left:-20vw}

#resourcetable{background-color:#000; border-color:#000}
td{
	border-color:#000;
}

