#aboutpara{
	width: 70%;
	margin: 10% auto;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: larger;
	color: rgb(41, 38, 38);
	line-height: 125%;
	font-weight: lighter;
}

.center{
	display: block;
	margin-left: 0;
	margin-right: 0;
	width: 100%;	
}

.picture{
	width: 100%;
 	height: 600px;	
}

a:hover{
	background-color: #222;	
}

.centered {
	position: relative;
	font-size: 100px;
	color: #000;
	font-weight: bolder;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
