td, th{
  border-color:#fbfbfb !important;
  background-color:#fbfbfb;
  color:#000;
}

.newtablecl{
  color: #000;
  text-decoration: underline;
}

a:hover{
  color: #000 !important;
  background-color: #fbfbfb !important;
}
.cellwithpara{
  vertical-align:top;
  font-size:15;
}
.cellwithname{
  font-size:24;
  font-style: italic; 
}
