td, th{
  border-color:#fbfbfb !important;
  background-color:#fbfbfb;
  color:#000;
}

.newtablecl{
  color: #000;
  text-decoration: underline;
}

a:hover{
  color: #000 !important;
  background-color: #fbfbfb !important;
}
