@media screen and (max-width: 600px) {
  #stackthings{
    position:relative;
    top: 0px;
    left: 20vw;

  }
  #stackthings2{
    position:relative;
    top: 200px;
    left: 20vw;
  }
  .stackthings3{
    margin-left:50%
  }
 }
